*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: 'Josefin Sans', sans-serif;
}

.logo{
    padding-bottom: 15%;
}

h1{
font-size: 48px;
letter-spacing: 14px;
text-transform: uppercase;
}

.desk-image{
    width: 100%;
}

.container{
    display: flex;
}



.text-section{
    background-image: url(../base-apparel-coming-soon-master/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-left: 7%;
    padding-bottom: 17%;
}

.we{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
    display: block;
}

.paragraph{
    color: hsl(0, 36%, 70%);
    width: 48%;
}